.container {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
}

.container.center {
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.gap {
    gap: 20px;
}